build/
Makefile
config.h
config.log
config.status
serversrc/Makefile
clientsrc/Makefile
serversrc/plugins/Makefile
serversrc/*.o
clientsrc/*.o
serversrc/plugins/*.o
serversrc/ledmatrixServer
clientsrc/ledmatrix
stamp-h1
autom4te.cache/*

